/node_modules
/public/hot
/public/storage
/public/assets/scripts
/public/assets/styles
/public/mix-manifest.json
/public/vendor
/public/build
/storage/*.key
/vendor
npm-debug.log
yarn-error.log
/*.sublime-*
/*.phar
/.idea
